@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <!-- Formulario de búsqueda -->
    <form action='@Url.Action("Busqueda")' asp-action="Buscar" method="get">
        <div class="seleccion" id="searchSelection">
            <label for="search-by">Buscar por:</label>
            <select asp-for="tipoBusqueda" class="inputdatos" id="search-by" onchange="toggleAdditionalFields()" required>
                <option value="1" selected>Descripción</option>
                <option value="2">Código</option>
                <option value="3">Código Reducido</option>
                <option value="4">Código del Fabricante</option>
                <option value="5">Fabricante</option>
            </select>
            
            <div id="additionalFields"></div>
            
            <label for="textoBusqueda">Palabras clave:</label>
            <input asp-for="textoBusqueda" type="text" class="inputdatos" id="textoBusqueda" placeholder="Palabras clave...">
            
            <div class="button-container">
                <button type="submit" class="search-button">BUSCAR</button>
            </div>
        </div>
    </form>



    <div class="results-section">
        <label for="results">Resultados encontrados: @ViewBag.CountResEncont</label>
        <!-- BD count de cant datos encontrados similares descripcxion -->
        <select id="results">
            @foreach (Producto producto in ViewBag.ListaProdTabla)
            {
                <option value="@producto.descripcion">@producto.descripcion</option>
            }
        </select>

        @if (@ViewBag.CountResEncont > 0)
        {
            <a href='@Url.Action("Tabla", "Home")'>
                <button class="btn">TABLA</button>
            </a>
        }
        else
        {

        }
    </div>

    <div class="form-container">
        <div class="form-group">
            <label>Tipo</label>
            <div class="input-block">@ViewBag.ProductoTop1.Tipo</div>
            <label>Código</label>
            <div class="input-block">@ViewBag.ProductoTop1.Codigo</div>
            <label>Stock en Depósito</label>
            <div class="input-block">@ViewBag.ProductoTop1.StockDeposito</div>
            <button class="btn small">Formula</button>
            <button class="btn small">Seg de Formula</button>
        </div>
        <div class="form-group">
            <label>Código Reducido</label>
            <div class="input-block">@ViewBag.ProductoTop1.CodigoReducido</div>
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <div class="input-block">@ViewBag.ProductoTop1.Descripcion</div>
        </div>
        <div class="form-group">
            <label>Código del Fabricante</label>
            <div class="input-block">@ViewBag.ProductoTop1.CodigoFabricante</div>
        </div>
        <div class="form-group">
            <label>Fabricante</label>
            <div class="input-block">@ViewBag.ProductoTop1.Fabricante</div>
        </div>
    </div>

    <div class="status-section">
        <p class="not-for-sale">NO APTO PARA LA VENTA</p>
        <div class="placeholder"></div>
    </div>
</div>